{{extend 'layout.html'}}
<h1>Booking</h1>
<p/>Depart {{=request.vars.depart}}
<p/>Arrive {{=request.vars.arrive}}
<p/>Date {{=request.vars.fdate}}
<p/>Seats {{=request.vars.fseats[0]}}
<p/>{{=message}}
<form action="bookingshow">
{{
n = int(request.vars.fseats[0])
i = 1
while i <= n:
}}
<p>Title <select name="paxtitle{{=i}}">
<option value="">--</option>
<option value="MR">MR</option>
<option value="MS">MS</option>
<option value="MRS">MRS</option>
<option value="MISS">MISS</option>
<option value="DR">DR</option>
<option value="PROF">PROF</option>
</select>
First Names <input name="paxfname{{=i}}" type="text" size="40" value="{{=fnames[i-1]}}"/>
Last Name <input name="paxlname{{=i}}" type="text" size="20" value="{{=lnames[i-1]}}" />
Date of Birth <input name="paxdob{{=i}}" type="text" value="{{=dobs[i-1]}}" />
</p>
{{
i+=1
pass
}}
<p/>Cellphone Number <input name="bkcell" type="text" />
<p/>Email Address <input name="bkemail" type="text" />
<input name="fnumber" type="hidden" value="{{=request.vars.fnumber}}" />
<input name="fdate" type="hidden" value="{{=request.vars.fdate}}" />
<input name="depart" type="hidden" value="{{=request.vars.depart}}" />
<input name="arrive" type="hidden" value="{{=request.vars.arrive}}" />
<input name="fseats" type="hidden" value="{{=request.vars.fseats[0]}}" />
<input name="fclass" type="hidden" value="{{=request.vars.fclass}}" />
<input name="fprice" type="hidden" value="{{=request.vars.fprice}}" />
<input name="nfake" type="hidden" value="{{=request.vars.nfake}}" />
<input name="famount" type="hidden" value="{{=request.vars.famount}}" />
<input type="submit" value="Submit" />
</form>
