{{extend 'layout.html'}}
<h1>Booking</h1>
<p/>Depart {{=request.vars.depart}}
<p/>Arrive {{=request.vars.arrive}}
<p/>Date {{=request.vars.fdate}}
<p/>Seats {{=request.vars.fseats[0]}}
<p/>{{=message}}
<form action="bookingpayshow">
<p>Title <select name="paxtitle1">
<option value="MR">MR</option>
<option value="MS">MS>/option>
<option value="MRS">MRS</option>
<option value="MISS">MISS</option>
<option value="DR">DR</option>
<option value="PROF">PROF</option>
</select>
First Names <input name="paxfname1" type="text" size="40" />
Last Name <input name="paxlname1" type="text" size="20" />
Date of Birth <input name="paxdob1" type="text" />
</p>
<p/>Cellphone Number <input name="bkcell" type="text" />
<p/>Email Address <input name="bkemail" type="text" />
<input name="fnumber" type="hidden" value="{{=request.vars.fnumber}}" />
<input name="fdate" type="hidden" value="{{=request.vars.fdate}}" />
<input name="depart" type="hidden" value="{{=request.vars.depart}}" />
<input name="arrive" type="hidden" value="{{=request.vars.arrive}}" />
<input name="fseats" type="hidden" value="{{=request.vars.fseats[0]}}" />
<input name="fclass" type="hidden" value="{{=request.vars.fclass}}" />
<input name="fprice" type="hidden" value="{{=request.vars.fprice}}" />
<input type="submit" value="Submit" />
</form>
