{{extend 'layout.html'}}
<h1>Booking</h1>
<p/>Depart {{=request.vars.depart}}
<p/>Arrive {{=request.vars.arrive}}
<p/>Date {{=request.vars.fdate}}
<p/>Price {{=request.vars.fprice}}
<p/>{{=message}}
<form action="bookingnames">
<p/>Seats: <select name="fseats">
<option value="1">1</option>
<option value="2" selected="selected">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
<input name="fnumber" type="hidden" value="{{=request.vars.fnumber}}"/>
<input name="fdate" type="hidden" value="{{=request.vars.fdate}}"/>
<input name="depart" type="hidden" value="{{=request.vars.depart}}"/>
<input name="arrive" type="hidden" value="{{=request.vars.arrive}}"/>
<input name="fseats" type="hidden" value="{{=request.vars.fseats}}"/>
<input name="fclass" type="hidden" value="{{=request.vars.fclass}}"/>
<input name="fprice" type="hidden" value="{{=request.vars.fprice}}"/>
<p/>Fake: <input name="nfake" type="checkbox"/>
<p/><input type="submit" value="Submit" />
</form>
