{{extend 'layout.html'}}
<h1>Pricing</h1>
<p/>Depart {{=request.vars.depart}}
<p/>Arrive {{=request.vars.arrive}}
<p/>Date {{=request.vars.fdate}}
<p/>Price {{=amount}}
<p/>{{=message}}
<p/>
<form action="booking">
<input name="fnumber" type="hidden" value="{{=request.vars.fnumber}}"/>
<input name="fdate" type="hidden" value="{{=request.vars.fdate}}"/>
<input name="depart" type="hidden" value="{{=request.vars.depart}}"/>
<input name="arrive" type="hidden" value="{{=request.vars.arrive}}"/>
<input name="fclass" type="hidden" value="{{=request.vars.fclass}}"/>
<input name="fprice" type="hidden" value="{{=amount}}"/>
<input type="submit" value="Submit" />
</form>
